<% provide :title, t(".login") %>
<h1><%= t ".login" %></h1>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <%= form_for :session, url: login_path do |f| %>
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control" %>
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", accept: "image/png,image/gif,image/jpeg" %>
        <%= f.submit t(".login"), class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
