<div class="container">
  <div class="details_container">
    <div class="row">
      <div class="row">
        <div class="col">
          <div class="courses_title"><%= @user.name %></div>
            <%= image_tag load_avatar(@user), size: Settings.users.size %>
            <%= render "shared/stats" %>
          </div>
        </div>
        <div class="col">
          <% if !current_user?(@user) %>
            <%= render "form_follow" %>
          <% else %>
            <%= link_to t(".edit"), edit_user_path, class:"btn btn-primary btn-edit" %>
            &ensp;
            <%= link_to t(".learned_word", quantity: @user.learnings.size), view_word_path, class:"btn btn-primary btn-edit" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
