<% provide :title, t(".question") %>
<div class="row">
  <div class="col-md-12">
    <%= link_to new_admin_question_path, class: "btn btn-outline-primary mb-3" do %>
      <i class="fa fa-plus"></i>
      <%=  t ".create_question" %>
    <% end %>
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary"><%= t ".question_list" %></h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered w-100" cellsapcing="0">
            <tr>
              <thead>
                <th><%= t ".stt" %></th>
                <th><%= t ".question" %></th>
                <th><%= t ".correct_answer" %></th>
                <th><%= t ".word" %></th>
                <th><%= t ".action" %></th>
              </thead>
            </tr>
            <tbody>
              <%= render partial: "question", collection: @questions, as: :question  %>
            </tbody>
          </table>
          <%= paginate @questions, theme: Settings.theme.paging %>
        </div>
      </div>
    </div>
  </div>
</div>
