<div class="col-lg-4 course_col">
  <div class="course">
    <div class="course_image">
      <% image = course.image.attached? ? course.image : "course_1.jpg" %>
      <%= image_tag image %>
    </div>
    <div class="course_body">
      <h3 class="course_title">
        <%= truncate course.name, length: Settings.courses.length_name %>
      </h3>
      <div class="course_text">
        <p>
          <%= truncate course.description,
           length: Settings.courses.length_description %>
        </p>
      </div>
    </div>
    <div class="course_footer">
      <div class="course_footer_content d-flex flex-row
        align-items-center justify-content-start">
        <div class="course_info">
          <i class="fa fa-graduation-cap" aria-hidden="true"></i>
          <span><%= "s" %></span>
        </div>
       <div class="course_info">
          <i class="fa fa-star" aria-hidden="true"></i>
          <span><%= course.words.size %> <%= t ".word" %></span>
        </div>
        <% if @current_user %>
          <div class="lesson">
            <%= form_for @current_user.excercises.build do |f| %>
              <%= f.hidden_field :course_id, value: course.id %>
              <div class="course_price ml-auto">
                <%= f.submit t(".start"), class: "btn btn-parimary btn_start" %>
              </div>
            <% end %>
          </div>
          <div class="course_price ml-auto">
            <%= button_tag t(".start"), class: "btn btn-primary" %>
          </div>
        <% else %>
          <div class="course_price ml-auto">
            <%= link_to t(".learn"), courses_path %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
