<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= render "layouts/shim" %>
  </head>

  <body id="page-top">
    <div id="wrapper">
      <%= render "layouts/admin_sidebar" %>
      <div id="content-wrapper" class="d-flex flex-column">
        <div id="content">
          <%= render "layouts/admin_navbar" %>
            <%= render "shared/flash" %>
          <div class="container-fluid">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="logoutModal" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              <%= t ".ready_to_leave" %>
            </h5>
            <button class="close" type="button" data-dismiss="modal"
             aria-label="Close">
              <span aria-hidden="true">x</span> 
            </button>
          </div>
          <div class="modal-body"><%= t ".select_logout_below" %></div>
          <div class="modal-footer">
            <button class="btn btn-secondary" type="button"
             data-dismiss="modal">
              <%= t ".cancel" %>
            </button>
            <%= link_to "logout_path", class: "dropdown-item" do %>
              <%= t ".logout" %>
            <% end %>
          </div>
        </div>
      </div> 
    </div>
  </body>
</html>
